:root {
  --blue: #2196f3;
  --grey: #757575;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.button {
  cursor: pointer;
  border: none;
  padding: 6px 22px;
  background-color: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625em;
}
.button:hover,
.button:focus {
  color: #ffffff;
  background-color: var(--blue);
}
.link {
  color: #212121;
}
.link:hover,
.link:focus {
  color: var(--blue);
}
.grey {
  color: var(--grey);
}
.list {
  list-style-type: none;
}
.section-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
}
.section-post-title {
  font-size: 16px;
  line-height: 1.875em;
  color: var(--grey);
}
